@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat&family=Playfair+Display&family=Poppins:wght@200&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Playfair+Display&family=Poppins:wght@200&family=Signika:wght@300&display=swap');
.carousel-item img {
height: 100vh;
width: 100% !important;
background-repeat:center center/cover no-repeat;



}
.carousel {
    margin-top: 6rem;
}
.carousel .carousel-caption{
    text-align: right;
    top: 160px;
}
.carousel .carousel-caption .carousel-head {
    font-size: 70px;
    
    font-weight: 700;  
    z-index: 5;

    line-height: 70px;
   
    border-color: rgb(128, 130, 133);

    border-radius: 0px;
    padding: 0px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px; 
}
.carousel .carousel-caption .carousel-desc {
    
    font-size: 40px;
    margin-top: 0;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.carousel .carousel-caption .coco-head{
    color: green;
}
.carousel .carousel-caption .coco-desc{
    text-shadow: 0px 0px 2px black;
    color: black;

}
.carousel .carousel-caption .gnd-head{
    color: rgb(190, 169, 7);
}
.carousel .carousel-caption .gnd-desc{
    text-shadow: 0px 0px 2px rgb(248, 246, 246);
    color: black;

}
.carousel .carousel-caption .saff-head{
    color: rgb(243, 3, 3);
}
.carousel .carousel-caption .saff-desc{
    text-shadow: 0px 0px 2px black;
    color: black;

}
.carousel .carousel-caption .tur-head{
    color: rgb(243, 171, 3);
}
.carousel .carousel-caption .tur-desc{
    text-shadow: 0px 0px 2px black;
    color: rgb(214, 213, 213);

}

.carousel-indicators{
    display: none !important;
}

.carousel-caption .btn {
  
    border: 0 !important;
    background-color: black;
    font-family: Montserrat;
    padding-left: 20px;
    font-weight: 700;
    border-radius: 0;
    height: 50px;
    padding-right: 20px;
}
.carousel-caption .btn:hover{
    background-color: rgb(30, 30, 30);
}
.carousel-caption .tur-btn{
    border: 1px solid #fff !important;
}

     @media(max-width:992px){
        .carousel {
            margin-top: 5rem;
        }
        /* .carousel-item img {
            height: 50vh;
        } */
     }
     @media(max-width:540px){
        .carousel .carousel-caption{
            text-align: center;
            top: 280px;
        }
        .carousel-item img {
            height: 90vh;
        }
        .carousel .carousel-caption .carousel-head {
            font-size: 40px;
        }
        .carousel .carousel-caption .carousel-desc{
            font-size: 25px;
        }
     }