@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat&family=Playfair+Display&family=Poppins:wght@200&family=Signika:wght@300&display=swap');
.carousel-item img {
position: relative;
z-index: -1;

}
.carousel-indicators{
    display: none !important;
}
.carousel-caption {

 top: 250px;
}
.carousel-caption .btn {
    border-radius: 0;
    border: 0 !important;
    background-color: black;
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
}

/* @media (max-width: 992px) {
    .navbar .navbar-collapse {
             position: fixed;
             top: 123px;
             left: 0;
             opacity: 0.8;
             padding-left: 15px;
             padding-right: 15px;
             padding-bottom: 15px;
             width: 75%;
             height: 100%;
             z-index: 110;
             background-color: #fff;
             box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
         }
         .navbarMenu .navbar-nav .nav-link {
             color: black !important;
         }
         .navbarMenu img {
            width: 170px;
            height: 80px;
            margin-left: 3rem;
        }
        
     
         .navbarMenu .navbar-collapse.collapsing {
             left: -75%;
             transition: height 0s ease 0s;
         }
     
         .navbarMenu .navbar-collapse.show {
             left: 0;
             transition: left 300ms ease-in-out;
         }
         .navbar .nav-link  {
             border-bottom: 1px solid rgb(67, 7, 85);
             padding-bottom: 1rem;
             padding-top: 0.5rem;
         }
     } */