<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat&family=Playfair+Display&family=Poppins:wght@200&family=Signika:wght@300&display=swap");

.body {
  background-color: rgb(60, 138, 50);
}

.container-box {
  width: 100%;
}

.heading {
  margin-top: 90px;
=======
.Product {
  padding: auto;
  margin-top: 6.8rem;
}
.Product span  {
  font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  color: rgb(125, 125, 125);
  font-weight: 400;
  font-size: 20px;
}
.Product span a {
  text-decoration: none;
  color: rgb(55, 52, 52);
}
.Product .Product-col .card {
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.Product .Product-col .card:hover{
  transition: all 0.4s ease 0s;
  transform: scale(1.03);
  
}
.Product .Product-col .card{
  justify-content: center;
  align-items: center;
>>>>>>> fb81c557d7fa367160d5e70be91084495655a8f4
  text-align: center;
}
.Product .Product-col .card img {
  height: 250px;
  width: 160px;
}
.Product .Product-col a{
  text-decoration: none !important;
  text-align: center;
  color: black;
 
}
.Product .Product-col .card .card-body .card-title {
  font-weight: 700;
}
