.fff-container {
  text-align: center;
  height: auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.25turn, var(--nyanza), var(--green-pigment));
}

.fff-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fff-heading {
  font-weight: 500;
  font-style: normal;
}

.fff-card {
  width: auto;
  text-align: center;
  padding: 2rem;
  height: 370px;
  color: black;
  border: 2px solid var(--light-green);
  box-shadow: 5px 5px 10px var(--india-green);
  border-radius: 1rem;
  margin: 1rem;
}

.fff-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.fff-card-title {
  padding-top: 1rem;
  font-weight: bold;
}

.fff-card-description {
  padding-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .fff-flex {
    flex-direction: column;
  }
}
