@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext");
/* .farm h2 {
 
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
} */
.fff-container {
  text-align: center;
  height: auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
z-index: 100;

}

.fff-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fff-heading {
  font-weight: 800;
  font-style: normal;
  color: #2d2c2c;
 
  text-align: center;
  
}

.fff-card {
  width: auto;
  text-align: center;
  padding: 2rem;
  height: 370px;
  color: black;
  /* border: 2px solid var(--light-green);
  box-shadow: 5px 5px 10px var(--india-green); */
  border-radius: 1rem;
  margin: 1rem;
}

.fff-card-img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}

.fff-card-title {
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: Roboto Condensed;
}

.fff-card-description {
  padding-top: 0.5rem;
  font-family: Roboto Condensed;
}

@media only screen and (max-width: 1100px) {
  .fff-flex {
    flex-direction: column;
  }
}
