@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext");
.my-account {
    margin-top: 7rem;
}
.my-account .row .col-md-4 .card {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 0px 1px rgb(205, 204, 204);
    
}
.my-account .row .col-md-4 .card ul li {
    line-height: 38px;
    
}
.my-account .row .col-md-4 .card ul li a{
    font-family: Roboto Condensed;
    color: #3a3a3a;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.my-account .row .col-md-4 .card ul li a:hover{
    color: green;
}
.my-account .row .col-md-8 p{
    font-family: Roboto Condensed;
    color: #6a6969;
    font-weight: 600;
    letter-spacing: 1px;  
}
.my-account .row .col-md-8 p strong{
    color: #3a3a3a;
}