@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext");
.checkout {
    margin-top: 7rem;
}
.checkout h2 {
    font-family: Roboto Condensed;
    margin-bottom: 1rem !important;
    margin-top: 2rem;
    font-weight: 800;
}