:root {
  --forest-green-traditional: #134611ff;
  --india-green: #3e8914ff;
  --green-pigment: #3da35dff;
  --light-green: #96e072ff;
  --nyanza: #e8fccfff;
  --background-1: linear-gradient(
    0.25turn,
    var(--nyanza),
    var(--green-pigment)
  );
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
