.benefits-container {
  display: flex;
  flex-direction: column;
  text-align: center;
 padding: 1em;
}

.benefits-bottom {
  display: flex;
  flex-direction: row;
  font-size: small;
  height: 100%;
}

.benefits-col-1 {
  text-align: left;
  padding: 2rem;
}

.benefits-col-2 {
  margin: auto;
  width: 150px;
 
}

.benefits-col-3 {
  text-align: left;
  padding: 2rem;
}

@media only screen and (max-width: 550px) {
  .benefits-bottom {
    flex-direction: column;
    align-items: center;
  }
}
