@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext");
.benefits h2{
  font-family: Roboto Condensed;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  
}
.benefits .col-left .title {
  font-weight: bold;
  font-family: Roboto Condensed;
  text-align: right;
  font-size: 25px;
}
.benefits .col-left .desc {
  text-align: right;
  font-family: Roboto Condensed;
  color: rgb(53, 53, 53);
}

/* col right here */
.benefits .col-right .title {
  font-weight: bold;
  font-family: Roboto Condensed;
  text-align: left;
  font-size: 25px;
}
.benefits .col-right .desc {
  text-align: left;
  font-family: Roboto Condensed;
  color: rgb(53, 53, 53);
}
@media(max-width:992px) {
  .benefits .col-right .title{
    text-align: center;
  }
  .benefits .col-right .desc {
    text-align: center;
  }
  .benefits .col-left .title{
    text-align: center;
  }
  .benefits .col-left .desc {
    text-align: center;
  }
}
/* .benefits-container {
  display: flex;
  flex-direction: column;
  text-align: center;
 padding: 1em;
}

.benefits-bottom {
  display: flex;
  flex-direction: row;
  font-size: small;
  height: 100%;
}

.benefits-col-1 {
  text-align: left;
  padding: 2rem;
}

.benefits-col-2 {
  margin: auto;
  width: 150px;
 
}

.benefits-col-3 {
  text-align: left;
  padding: 2rem;
}

@media only screen and (max-width: 550px) {
  .benefits-bottom {
    flex-direction: column;
    align-items: center;
  }
} */
